.nav_container{
    width: 1440px;
    margin: auto;
    padding: 40px;
    /* border: solid red; */
}


.navbar {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 100px;
   
    /* border: solid pink; */
   
    width: 900px;
    
}
.nav_container img {
    padding-left: 40px;
    height: 110px;
    width: 200px;
    
}

.nav_container__links ul {
    display: flex;
    list-style-type: none;
    padding-top: 20px;
    justify-content: center;

}
.nav_container__links li a {
    text-decoration: none;
    padding: 16px;
    text-transform: uppercase;
    color: black;
    
} 



.nav_container__links a:hover {
    background-color: rgb(253, 248, 248);
}